$font_1: 'Pacifico', cursive;
.flex_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

// *****
// -------header-------
.conteiner{
  width: 1150px;
}

header{
  position: relative;
  width: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
    background-image: url(img/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fix-categories{
  width: 30%;
  height: 80px;
}
nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  .fix-menu{
    width: 30%;
    height: 50px;
  }
  .menu{
    width: 70%;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    div{
      align-items: center;
      flex-grow: 1;
      a{
        color: #000;
        font-size: 0.85em;
        font-weight: 300;
      }
      a:hover{
        text-decoration: none;
      }

    }
  }
}
.container-logo{
  width: 25%;
  height: 110px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 2%;
  border-radius: 10px;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url(img/bg.jpg);
}
.container-categories{
  width: 100%;
  background-color: #efefef;
  // background-image: url(img/bg-categ.jpg);
  background-position: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: row;
}
.categories{
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div{
    width: 18%;
    // color: #ebb231;
    color: #8a8a8a;
    height: 80px;
    padding-top: 22px;
    text-align: center;
    h3{
      font-size: 1.3em;
      font-weight: 400;
      padding-top: 4px;
    }
  }
  div:hover{
    cursor: pointer;
    border-bottom: 4px solid #ebb231;
    h3{
      color: #ebb231;
    }
  }
}
.active-cat{
  border-bottom: 4px solid #ebb231;
  h3{
    color: #ebb231;
  }
}
.categ-descr{
  width: 100%;
  height: 406px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .desc-div{
    display: none;
    width: 1000px;
    h1{
      float: left;
    }
    img{
      width: 316px;
      float: left;
      z-index: 2;
      position: absolute;
      top: -20px;
      left: 2%;
    }
    div{
      float: left;
    }
    .btn-cat{
      float: right;
      display: block;
      margin-top: 30px;
      width: 200px;
      height: 40px;
      text-align: center;
      border: 2px solid #ebb231;
      padding-top: 4px;
      color: #ebb231;
    }
    .btn-cat:hover{
      text-decoration: none;
      color: #fff;
      // border-color: #ebb231;
      background-color: #ebb231;
    }
    .photo-categ{
      width: 35%;
    }
    .photo-border{
      width: 100%;
      height: 215px;
      border: 10px solid rgba(235, 178, 49, .7);
      z-index: 1;
      position: relative;
      left: -20px;
    }
    .cat-text{
      // padding-top: 85px;
      width: 65%;
      padding-top: 25px;
    }
    .deco-line{
      width: 105%;
      height: 1px;
      background-color: #ebb231;
      margin-left: -20px;
    }
  }
}
.active{
  display: block !important;
}

// --------------- main -------------------

.why-us{
  width: 100%;
  height: 600px;
  background-color: #efefef;
}
.why-us-top{
  width: 100%;
  height: 100px;
  background-color: #efefef;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
  h2{
    padding-top: 25px;
    // color: #8a8a8a;
    font-weight: 300;
    // letter-spacing: 1px;
  }
}
.why-us-bot{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .why-us-item{
    width: 220px;
    height: 400px;
    margin-top: 15px;
  }
}
.icon{
  width: 100%;
  display: flex;
  justify-content: center;
  img{
    width: 100px;
    height: 100px;
  }
}
.why-us-bot-text{
  padding-top: 20px;
  h5{
    text-align: center;
    height: 40px;
    // color: #ebb231;
  }
  p{
    font-weight: 300;
    text-align: center;
  }
}

// --------- gallery ----------

.gallery-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    padding-top: 50px;
    font-weight: 300;
  }
}

.gallery{
  width: 1100px;
  height: 700px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
  div{
    position: relative;
  }
}
.cat-gallery{
  font-weight: 300;
  padding-top: 50px;
}
.gallery-text{
  width: 100%;
  position: absolute;
  bottom: 55px;
  z-index: 3;
  h3{
    color: #ebb231;
    text-align: center;
    font-weight: 300;
  }
}
.gallery-border{
  width: 100%;
  height: 215px;
  border: 10px solid rgba(235, 178, 49, 0.7);
  margin-top: 18px;
  position: relative;
  z-index: 1;
  img{
    width: 316px;
    position: absolute;
    top: -22px;
    left: 8px;
    z-index: 2;
  }

}


// --------- footer ----------

footer{
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts{
  width: 100%;
}
.contacts-top{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
  h2{
    font-weight: 300;
    padding-top: 29px;
  }
}
.contacts-inside{
  width: 100%;
  height: 420px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h4{
    font-weight: 300;
  }
  p{
    font-weight: 300;
  }
}
.contacts-deco-line{
  width: 100%;
  height: 1px;
  background-color: #ebb231;
  margin-bottom: 20px;
}
#map{
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
}
