$font_1: 'Pacifico', cursive;
.flex_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

// *****
// -------header-------
.conteiner{
  width: 1150px;
}

header{
  position: relative;
  width: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
    background-image: url(img/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fix-categories{
  width: 30%;
  height: 80px;
}
nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  .fix-menu{
    width: 30%;
    height: 50px;
  }
  .menu{
    width: 50%;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    div{
      align-items: center;
      flex-grow: 1;
      a{
        color: #000;
        font-size: 0.85em;
        font-weight: 300;
      }
      a:hover{
        text-decoration: none;
      }

    }
  }
}
.container-logo{
  width: 25%;
  height: 110px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 2%;
  border-radius: 10px;
  h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #ebb231;
  }
  
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url(img/bg.jpg);
}
.container-categories{
  width: 100%;
  background-color: #efefef;
  // background-image: url(img/bg-categ.jpg);
  background-position: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: row;
}
.categories{
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div{
    width: 19%;
    // color: #ebb231;
    color: #8a8a8a;
    height: 80px;
    padding-top: 22px;
    text-align: center;
    h3{
      font-size: 1.3em;
      font-weight: 400;
      padding-top: 4px;
    }
  }
  div:hover{
    cursor: pointer;
    border-bottom: 4px solid #ebb231;
    h3{
      color: #ebb231;
    }
  }
}
.active-cat{
  border-bottom: 4px solid #ebb231;
  h3{
    color: #ebb231;
  }
}
.categ-descr{
  width: 100%;
  height: 406px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .desc-div{
    display: none;
    width: 1000px;
    h1{
      float: left;
    }
    img{
      width: 316px;
      float: left;
      z-index: 2;
      position: absolute;
      top: -20px;
      left: 2%;
    }
    div{
      float: left;
    }
    .btn-cat{
      float: right;
      display: block;
      margin-top: 30px;
      width: 200px;
      height: 40px;
      text-align: center;
      border: 2px solid #ebb231;
      padding-top: 4px;
      color: #ebb231;
    }
    .btn-cat:hover{
      text-decoration: none;
      color: #fff;
      // border-color: #ebb231;
      background-color: #ebb231;
    }
    .photo-categ{
      width: 35%;
    }
    .photo-border{
      width: 100%;
      height: 215px;
      border: 10px solid rgba(235, 178, 49, .7);
      z-index: 1;
      position: relative;
      left: -20px;
    }
    .cat-text{
      // padding-top: 85px;
      width: 65%;
      padding-top: 25px;
    }
    .deco-line{
      width: 105%;
      height: 1px;
      background-color: #ebb231;
      margin-left: -20px;
    }
  }
}
.active{
  display: block !important;
}
.active-animate{
  -webkit-animation: fadeInRight100 .5s linear 0s forwards;
  -moz-animation: fadeInRight100 .5s linear 0s forwards;
  animation: fadeInRight100 .5s linear 0s forwards;
}

// --------------- main -------------------

.why-us{
  width: 100%;
  height: 600px;
  background-color: #efefef;
}
.why-us-top{
  width: 100%;
  height: 100px;
  background-color: #efefef;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
  h2{
    padding-top: 25px;
    // color: #8a8a8a;
    font-weight: 300;
    // letter-spacing: 1px;
  }
}
.why-us-bot{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .why-us-item{
    width: 220px;
    height: 400px;
    margin-top: 15px;
  }
}
.icon{
  width: 100%;
  display: flex;
  justify-content: center;
  img{
    width: 100px;
    height: 100px;
  }
}
.why-us-bot-text{
  padding-top: 20px;
  h5{
    text-align: center;
    height: 40px;
    // color: #ebb231;
  }
  p{
    font-weight: 300;
    text-align: center;
  }
}

// --------- gallery ----------

.gallery-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    padding-top: 50px;
    font-weight: 300;
  }
}

.gallery{
  width: 1100px;
  height: 700px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
  div{
    position: relative;
  }
}
.cat-gallery{
  font-weight: 300;
  padding-top: 50px;
}
.gallery-text{
  width: 100%;
  position: absolute;
  bottom: 55px;
  z-index: 3;
  h3{
    color: #ebb231;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
  }
}
.gallery-border{
  width: 100%;
  height: 215px;
  border: 10px solid rgba(235, 178, 49, 0.7);
  margin-top: 18px;
  position: relative;
  z-index: 1;
  img{
    width: 316px;
    position: absolute;
    top: -22px;
    left: 8px;
    z-index: 2;
  }
}
.gallery-inside{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  display: none;
  z-index: 5;
  overflow-y: scroll;
  // flex-direction: row;
  // justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 20px;
}
.gallery-zoom{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(239, 239, 239, .5);
  display: none;
  z-index: 6;
  justify-content: center;
}
.iside-block{
  width: 350px;
  height: 250px;
  margin: 40px auto;
  overflow: hidden;
}
.zoom-in{
  width: 70%;
  height: 100%;
  position: relative;
  img{
    width: 100%;
    padding: 100px;
  }
}
.close-gallery{
  width: 35px;
  height: 35px;
  background-image: url(img/close-icon.png);
  background-size: contain;
  position: fixed;
  z-index: 6;
  top: 20px;
  right: 10px;
}
.close-gallery-zoom{
  position: absolute;
  // background-color: #000;
  background-image: url(img/close-icon.png);
  background-size: contain;
  top: 65px;
  right: 25px;
  width: 30px;
  height: 30px;
}
.close-gallery-zoom:hover, .close-gallery:hover{
  cursor: pointer;
}


// --------- footer ----------

footer{
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts{
  width: 100%;
}
.contacts-top{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
  h2{
    font-weight: 300;
    padding-top: 29px;
  }
}
.contacts-inside{
  width: 100%;
  height: 420px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h4{
    font-weight: 300;
  }
  p{
    font-weight: 300;
    a{
      color: #000;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
.contacts-deco-line{
  width: 100%;
  height: 1px;
  background-color: #ebb231;
  margin-bottom: 20px;
}

#map{
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
}





@media only screen and (max-width : 1024px){
  .wrapper{
    max-width: 1024px;
  }
  header{
    background-position: center;
  }
  .fix-categories{
    width: 27%;
  }
  .categories{
    width: 72%;
    div:nth-child(4){
      padding-top: 15px;
      h3{
        padding-top: 0px;
      }
    }
  }
  .container-logo{
    left: 1%;
  }
  .categ-descr{
    .desc-div{
      width: 900px;
      .photo-categ{
        width: 33%;
      }
      .photo-border{
        height: 185px;
      }
      img{
        width: 264px;
        top: -17px;
      }
    }
  }
  .why-us-bot{
    .why-us-item{
      width: 180px;
    }
  }
  .gallery{
    width: 900px;
    height: 550px;
    grid-template-rows: 200px 200px;
    grid-gap: 15px;
  }
  .gallery-border{
    height: 185px;
    img{
      width: 264px;
      left: 3px;
      top: -17px;
    }
  }
  .gallery-text{
    h3{
      width: 90%;
    }
  }
  #single{
    .gallery-text{
      bottom: 75px;
    }
  }
  #double{
    .gallery-text{
      bottom: 75px;
    }
  }
  .gallery-inside{
    grid-template-rows: 200px 200px 200px;
  }
  .iside-block{
    width: 290px;
    height: 210px;
  }
}
@media only screen and (max-width : 768px){
  .wrapper{
    max-width: 768px;
  }
  nav{
    .menu{
      margin-top: 11px;
    }
  }
  .container-logo{
    height: 75px;
    h1{
      font-size: 1.7rem;
    }
  }
  .container-categories{
    margin-top: 14px;
    justify-content: center;
  }
  .categories{
    width: 90%;
    div{
      width: 20%;
    }
  }
  .fix-categories{
    display: none;
  }
  .catalog{
    height: 450px;
  }
  .categ-descr{
    padding-top: 150px;
    .desc-div{
      width: 600px;
      .photo-border{
        height: 155px;
      }
      .photo-categ{
        width: 42%;
      }
      .cat-text{
        width: 58%;
      }
      img{
        width: 222px;
      }
    }
  } 
  .why-us-bot{
    .why-us-item{
      width: 155px;
    }
  }
  .why-us-bot-text{
    h5{
      font-size: 1.1rem;
    }
    p{
      font-size: 14px;
      width: 90%;
      margin-left: 5%;
    }
  }
  .icon{
    img{
      width: 80px;
      height: 80px;
    }
  }
  .gallery{
    width: 690px;
    height: 900px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
  }
  .gallery-border{
    img{
      width: 290px;
      top: -26px;
    }
  }
  .gallery-inside{
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-rows: none;
    .gallery-border{
      img{
        width: 263px;
        top: -17px;
      }
    }
  }
  .contacts-inside>div{
    width: 40%;
  }
}
@media only screen and (max-width : 667px){
  .wrapper{
    width: 667px;
  }
  .container-logo{
    height: 65px;
    h1{
      font-size: 1.5rem;
    }
  }
  nav{
    .menu{
      width: 55%;
      margin-top: 5px;
    }
  }
  .container-categories{
    margin-top: 10px;
  }
  .categories{
    width: 95%;
    div{
      width: 22%;
    }
    div:nth-child(5){
      padding-top: 15px;
      h3{
        padding-top: 0px;
      }
    }
  }
  .gallery{
    width: 620px;
    height: 900px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
  }
  .gallery-border{
    img{
      width: 256px;
      top: -14px;
    }
  }
}
@media only screen and (max-width : 425px){
  .wrapper{
    width: 425px;
  }
  nav{
    .menu{
      display: none;
    }
  }
  .container-logo{
    width: 50%;
  }
  .container-categories{
    margin-top: 15px;
  }
  .categories{
    height: 80px;
    flex-wrap: wrap;
    div{
      width: 33%;
      height: 40px;
      padding-top: 0px;
      h3{
        font-size: 1em;
        padding-top: 6px;
      }
    }
    div:nth-child(4), div:nth-child(5){
      width: 45%;
      height: 40px;
      padding-top: 0px;
      h3{
        padding-top: 6px;
      }
    }
  }
  .catalog{
    height: 530px;
  }
  .categ-descr{
    padding-top: 75px;
    .desc-div{
      width: 390px;
      div{
        float: none;
      }
      .photo-border{
        left: 0;
        height: 210px;
      }
      .photo-categ{
        width: 85%;
      }
      img{
        width: 298px;
      }
      .cat-text{
        width: 85%;
      }
      .deco-line{
        width: 100%;
        margin-left: 0;
      }
    }
  } 
  .active{
    display: flex !important;
    flex-direction: column;
    align-items: center;

  }
  .why-us{
    height: 100%;
  }
  .why-us-bot{
    flex-direction: column;
    align-items: center;
    .why-us-item{
      width: 80%;
      height: 100%;
    }
  }
  .icon{
    img{
      width: 120px;
      height: 120px;
    }
  }
  .why-us-bot-text{
    h5{
      font-size: 1.75rem;
    }
    p{
      font-size: 16px;
    }
  }
  .gallery{
    width: 360px;
    height: 1875px;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .gallery-border{
    img{
      width: 333px;
      top: -44px;
    }
  }
  .gallery-text{
    bottom: 25px;
  }
  #single{
    .gallery-text{
      bottom: 25px;
    }
  }
  #double{
    .gallery-text{
      bottom: 25px;
    }
  }
  .gallery-inside{
    grid-template-columns: 1fr;
  }
  .zoom-in{
    width: 100%;
    img{
      padding: 50px;
    }
  }
  .close-gallery-zoom{
    right: 12px;
  }
  .contacts-inside{
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .contacts-inside>div{
    width: 65%;
  }
}
@media only screen and (max-width : 414px){
 .wrapper{
   width: 414px;
 }
}
@media only screen and (max-width : 375px){
  .wrapper{
    width: 375px;
  }
  .categ-descr{
    .desc-div{
      width: 360px;
      img{
        width: 276px;
      }
      .photo-border{
        height: 195px;
      }
    }
  }
}
// @media only screen and (max-width : 320px){
//   width: 320px;
// }